[2016-09-20 06:39] mariobehling opened #2 "Add website, github, twitter, linkedin to all"
Please add
- [ ] website
- [ ] github
- [ ] twitter
- [ ] linkedin
  to jury, mentors, organizers.

[2016-09-20 07:54] SaptakS commented on #2
added my personal details [here](https://github.com/fossasia/codeheat.org/commit/ada0876bb494bb77b2c9219bdaa5b2fe699abefd)

[2016-09-20 08:55] mariobehling commented on #2
@SaptakS Please add Github and would be great if you also help to add details of others.

[2016-09-20 13:22] SaptakS commented on #2
@mariobehling will get it done.

[2016-09-21 09:11] jig08 commented on #2
@mariobehling Sure.

[2016-09-21 14:58] mariobehling opened #7 "Currently the Github icon is not included. Please add it"
Add Github icon for members on site, that have specified a github account.

[2016-09-21 15:44] SaptakS commented on #7
@mariobehling working on it.

[2016-09-21 16:19] SaptakS commented on #7
@mariobehling Fixed.

[2016-09-21 16:19] #7 closed

[2016-09-21 16:54] mariobehling commented on #7
:+1:

[2016-09-22 05:47] hpdang opened #9 "Interface bug: Mentors page"
![codeheat-mentorspage](https://cloud.githubusercontent.com/assets/1658742/18738085/a3bfccb0-8098-11e6-91e0-f687e2bbb9af.png)

[2016-09-22 06:21] #9 closed

[2016-09-22 20:17] sandmanx opened #11 "Mentor Images not scaled properly"
The images of various mentors look fine when browser is full screen, but increasing/decreasing the width of the browser window causes the images to go haywire. See screen shot below:
![rsz_screenshot_from_2016-09-23_01-24-09](https://cloud.githubusercontent.com/assets/14184381/18764521/6f9e360a-812f-11e6-9e76-6bb930d9e22b.png)

[2016-09-22 20:31] sandmanx commented on #11
If you allow me, I can try to fix this along with certain other small bugs such as:

When the browser width is reduced then the hover card which shows links to various social media accounts becomes bigger than the images.

![rsz_screenshot_from_2016-09-23_01-24-58](https://cloud.githubusercontent.com/assets/14184381/18764843/cbf00eb4-8130-11e6-8570-870a63b3b381.png)
![rsz_screenshot_from_2016-09-2

[2016-09-22 22:49] sandmanx commented on #11
@jig08 Done! Fixed the issue. More details at PR #12 . Thanks for assigning me this issue :)

[2016-09-22 23:16] #11 closed

[2016-09-24 08:03] mariobehling opened #17 "Sign up button with red font instead of white"
The sign up button in the timeline section has red front. It should be white. The button has the same class as the button on the header, but is still different.

Expected look:
![screenshot from 2016-09-24 09 59 34](https://cloud.githubusercontent.com/assets/1583873/18807052/e436d616-823d-11e6-83cf-d9ddf1c9a80d.png)
http://codeheat.org/untitled.html#timeline

[2016-09-24 10:02] SaptakS commented on #17
@mariobehling working on it..

[2016-09-24 10:58] SaptakS commented on #17
@mariobehling fixed.

[2016-09-24 10:58] #17 closed

[2016-09-25 09:24] sidgupta234 opened #20 "Correct links under AskSusi"
The chat and mailing list links redirect to the respective loklak pages instead.

[2016-09-25 10:12] mariobehling commented on #20
Yes, this is how it is supposed to be.

[2016-09-25 10:12] #20 closed

[2016-09-27 18:56] anu-007 opened #24 "mentors and jury members images are not aligning in the center in some smaller screen sizes"
all the images of mentors and jury members are not aligning in center for screen size below 765*876.
![screenshot from 2016-09-28 00-24-26](https://cloud.githubusercontent.com/assets/20153241/18887557/2c306ec4-8512-11e6-9c6e-8dfbd63223a2.png)
![screenshot from 2016-09-28 00-25-00](https://cloud.githubusercontent.com/assets/20153241/18887555/2bdce196-8512-11e6-9d7c-4ee7346646c6.png)

[2016-09-27 19:11] anu-007 opened #25 "project dropdown menu does not collapse after clicking project again in navbar"
in navbar the dropdown menu corresponding to projects does not collapse automatically after removing mouse from it or by clicking projects again.
![screenshot from 2016-09-28 00-37-06](https://cloud.githubusercontent.com/assets/20153241/18887937/f69c4650-8513-11e6-83cd-f24df2f60ccb.png)
![screenshot from 2016-09-28 00-38-15](https://cloud.githubusercontent.com/assets/20153241/18887939/f794587c-851

[2016-09-27 21:26] sandmanx commented on #25
It is working fine. I couldn't find any problem.

[2016-09-28 13:41] jig08 commented on #24
@anu-007 Would you like to resolve this ?

[2016-09-28 13:42] jig08 commented on #25
Works fine for me too.
Closing this issue.

[2016-09-28 13:42] #25 closed

[2016-09-28 13:43] jig08 commented on #24
@anu-007 Sorry, it seems to work fine now. Closing this issue.

[2016-09-28 13:43] #24 closed

[2016-09-28 14:23] anu-007 commented on #25
have you checked it for smaller screen size like 485*879

[2016-09-28 16:50] jig08 commented on #25
@anu-007 Just checked, seems fine there as well.

[2017-02-05 11:58] mariobehling opened #31 "Add winners and finalists to the site"
Please add winners and finalists below the Jury Section in the same design as the jury.

[2017-02-05 15:44] Achint08 commented on #31
@mariobehling  Can I do this?

[2017-02-06 09:12] mariobehling commented on #31
@Achint08 Please add a better photo of yourself without white stripes on the edges to the site. Thank you.

[2017-02-06 14:41] #31 closed

[2017-09-04 15:02] agbilotia1998 opened #36 "Wrong url of Pocket Science lab projects."
The href attribute value of pocket science lab projects is set wrong.
![screenshot from 2017-09-04 20-31-25](https://user-images.githubusercontent.com/21157929/30031685-1be47f5a-91b0-11e7-97b7-75a64696f0c6.png)

[2017-09-04 17:16] #36 closed

[2017-09-06 11:46] RavicharanN opened #38 "Fix the alignment of text-links in the projects section"
A few text-links in the info box are aligned to the right unlike the others.
**Screenshot:**
![screen shot 2017-09-06 at 5 00 50 pm](https://user-images.githubusercontent.com/22046387/30110253-1390612a-9327-11e7-93f2-d18236761726.png)

[2017-09-06 13:56] niccokunzmann commented on #38
Yes, sure! Your PR is welcome to improve the site for all other people.

[2017-09-06 16:12] mish24 opened #41 "Alignment of `Codeheat` in the front page"
![screenshot from 2017-09-06 16-10-18](https://user-images.githubusercontent.com/24610197/30122458-083df200-931e-11e7-86d8-20a454eaf489.png)

`Codeheat` isn't aligned properly with the other links in the header.

[2017-09-06 16:14] mish24 opened #42 "Add more information about working on improving the pages in the Readme"
In my opinion we can add more information about branches and other contributing guidelines in the `README.md` file. Shall I go ahead?

[2017-09-06 16:53] Man-Jain opened #43 "Wrong Github link on Codeheat Registration page"
The Github link of the fossasia is wrong on the Codeheat registration Google form.
https://docs.google.com/forms/d/e/1FAIpQLSfhIZHnDIFwHZjRHrp1LmzcBE5eaAtudCFgQKEoFwxb229Ulw/viewform

![fossasia_github_err](https://user-images.githubusercontent.com/12700384/30124014-8f1dfc38-9351-11e7-808b-3a731aefeef2.jpg)

[2017-09-06 18:44] niccokunzmann commented on #42
Sure, please create a pull-request. If you mention this issue as "fix #42" in the commit comment, merging it will automaticaly close this issue.

[2017-09-06 18:46] niccokunzmann commented on #43
Very observant. But I do not know who generated the form. What do you think? Does clicking the link direct to the correct page?

[2017-09-06 18:47] niccokunzmann commented on #41
Would you like to fix that? You can mention this issue with #41 in the pull-request.

[2017-09-06 18:48] niccokunzmann commented on #43
@Man-Jain Maybe this can be reported like this: https://groups.google.com/forum/#!topic/fossasia/tqLIph58icM

[2017-09-06 19:07] mish24 commented on #43
@niccokunzmann This has already been reported on the slack channel as well. I remember they said they'll fix it soon :)

[2017-09-06 19:07] mish24 commented on #41
@niccokunzmann Yes! I will work on this!

[2017-09-06 19:36] RavicharanN opened #44 "The nav-bar contents overlap with the "Codeheat" for particular screen-dimensions"
The contents of the nav-bar overlap with the "Codeheat" for a set of resolutions.

Screenshot :

![screen shot 2017-09-07 at 1 03 03 am](https://user-images.githubusercontent.com/22046387/30131007-ca243fec-9368-11e7-8303-377dc7ef0e32.png)

[2017-09-07 12:28] Man-Jain commented on #43
Thanks @niccokunzmann for the suggestion. I will follow it in the future.

[2017-09-07 12:31] niccokunzmann commented on #43
I will close the issue since this is not the place for it. Thanks @Man-Jain for reporting it!

[2017-09-07 12:31] #43 closed

[2017-09-07 16:27] niccokunzmann commented on #41
Fixed in #45 by @mish24.

[2017-09-07 16:27] #41 closed

[2017-09-07 16:28] niccokunzmann commented on #44
Thanks for reporting. Would you like to work on this or give others the chance?

[2017-09-07 17:08] RavicharanN commented on #44
@niccokunzmann I'll work on it if it's okay.

[2017-09-07 17:38] niccokunzmann commented on #44
Sure.

[2017-09-07 20:15] RavicharanN commented on #38
Since the issue is fixed, I'm closing it now.

[2017-09-07 20:15] #38 closed

[2017-09-07 20:42] ParthS007 opened #47 "alignment of opentech and fossasia icon in the front page"
![image](https://user-images.githubusercontent.com/24358501/30184218-f4da79f4-943a-11e7-8f85-01f9dbdfedc6.png)

[2017-09-08 11:49] sounak98 commented on #47
I would like to work on this.

[2017-09-08 15:11] #47 closed

[2017-09-08 15:12] niccokunzmann commented on #44
closed by #46.

[2017-09-08 15:12] #44 closed

[2017-09-10 04:30] pierreneter opened #50 "Link errors on google docs form"
Hi there,
This is `github.com`, not `github.org`.

At your form: https://docs.google.com/forms/d/e/1FAIpQLSfhIZHnDIFwHZjRHrp1LmzcBE5eaAtudCFgQKEoFwxb229Ulw/viewform

![form](https://user-images.githubusercontent.com/12815768/30246133-6d2b3132-961b-11e7-97fb-6b8f058d6cc7.PNG)

[2017-09-10 07:36] isuruAb commented on #50
@mariobehling please check this issue

[2017-09-11 08:58] troublemagnet commented on #50
I'd like to work on this.

[2017-09-11 13:09] mariobehling commented on #50
Corrected. Thanks.

[2017-09-11 13:09] #50 closed

[2017-09-16 03:23] parimatrix opened #64 "Positioning of speaker info on mobile screens"
The speaker info including the image and the name floats left. It looks very odd and would be better if it is center aligned.

[2017-09-16 10:58] isuruAb opened #67 "arrange images of mentor section correctly"
arrange images of mentor section correctly.

<img width="1220" alt="screen shot 2017-09-16 at 4 24 26 pm" src="https://user-images.githubusercontent.com/7692626/30511661-a9cacd16-9afb-11e7-9915-a86f8c1c29d4.png">

[2017-09-17 04:21] Vishesh-Gupta commented on #67
I would probably like to work on this issue. Can you let me know about the issue properly because I see the images to be proper.

![image](https://user-images.githubusercontent.com/10096841/30517972-0752ea30-9b3e-11e7-814d-5591d7010fa0.png)

[2017-09-17 11:04] isuruAb commented on #67
@Vishesh-Gupta could you please tell me your browser and it's version ? i'm using google chrome

[2017-09-17 11:13] sagar-kalra commented on #67
Submitted a PR https://github.com/fossasia/codeheat.org/pull/71

[2017-09-17 11:14] #67 closed

[2017-09-17 12:35] madhavrathi opened #73 "Update Image of SUSI.AI Project thumbnail"
The SUSI.AI thumbnail contains an old image of the project. It should be updated with new one
I would like to fix this

[2017-09-17 12:51] #73 closed

[2017-09-17 17:06] #64 closed

[2017-09-21 16:07] hpdang opened #78 "Site in some resolutions on Firefox with large white areas"
![screenshot from 2017-09-21 18-06-47](https://user-images.githubusercontent.com/1658742/30706118-b07dbace-9ef7-11e7-8c22-24d3abf932e0.png)

[2017-09-22 13:18] AshishkrGoyal commented on #78
@hpdang same issue is for chrome browser..
markup should be updated for resolving this issue 👍

![image](https://user-images.githubusercontent.com/25322851/30746143-5fe8fdf6-9fc6-11e7-9d9d-0c605a1a92dc.png)

![image](https://user-images.githubusercontent.com/25322851/30746181-802fb96a-9fc6-11e7-92ce-76dee8abcffb.png)

[2017-09-22 13:20] AshishkrGoyal commented on #78
@hpdang can i work on this ?
thanks in advance 👍

[2017-09-22 13:26] AshishkrGoyal opened #82 "issue in mentor section:unnecessary white space"
@mariobehling  Sir.
As per given screenshot for that particular screen size this is a bug:
image size must be equal for resolving this issue 😄

![image](https://user-images.githubusercontent.com/25322851/30746437-6d3a2966-9fc7-11e7-8d6a-33fd05dfe6b7.png)

Thanks 👍

[2017-09-22 13:28] AshishkrGoyal opened #83 "content overflow problem: responsiveness issue"
As per given screenshot content is not complete on the left side of image,
this is a issue of site responsiveness
![image](https://user-images.githubusercontent.com/25322851/30746601-e77206fe-9fc7-11e7-8c78-414fc80f611b.png)

thanks in advance 👍

[2017-09-22 13:42] hpdang commented on #78
@AshishkrGoyal Sure, go ahead.

[2017-09-23 10:04] vaibhavsingh97 opened #84 "Update image of Query Server project thumbnail"
The query-server thumbnail contains an old image of the project. It should be updated with new one
i am interested to fix this issue 😄

[2017-09-24 07:08] sagar-kalra commented on #82
Created a PR https://github.com/fossasia/codeheat.org/pull/86 .
Please review it.

[2017-09-24 08:59] #82 closed

[2017-09-24 19:21] #84 closed

[2017-09-24 19:40] #83 closed

[2017-09-24 20:13] vaibhavsingh97 commented on #78
@AshishkrGoyal Are you still working on this?

[2017-09-24 20:14] vaibhavsingh97 commented on #42
@niccokunzmann Since, She is not active so i am claiming this issue 😄

[2017-09-24 20:45] mariobehling commented on #42
The goal of this repo is not really to solve lots of issues. We rather need help in the software applications at FOSSASIA. We have an article at https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/ Therefore closing it.

[2017-09-24 20:45] #42 closed

[2017-09-24 20:49] vaibhavsingh97 commented on #42
@mariobehling I just cleaning the issues so that's why asked to claimed 👍

[2017-09-24 20:49] AshishkrGoyal commented on #78
@vaibhavsingh97
yes i am working on this and send PR as soon as possible 😄

[2017-09-25 20:36] ajayns opened #88 "Minor UI enhancements"
Looking at the site, I noticed a few improvements could be made to the overall look and feel of the design. Attached are screenshots and suggested changes:

![screenshot from 2017-09-26 02-00-22](https://user-images.githubusercontent.com/20743219/30829560-be9e716a-a25e-11e7-90d6-5f280b3c79f6.png)
The padding needs to be fixed for this sign up button as it appears to be broken or not designed well.

[2017-09-25 20:41] mariobehling commented on #88
Hi, we just made this site quickly using some template components. It is not the goal to make the most stylish site. We just want to have some way to put out information.

Please help with the actual software projects of FOSSASIA. Closing this due to low priority. Thanks.

[2017-09-25 20:41] #88 closed

[2017-09-26 09:21] ajayns commented on #88
@mariobehling  Hey! I understand, I assumed it was up for long term dev and improvements. Anyways, I'm a frontend developer primarily working on Angular/Ionic and also CSS and its frameworks. Which projects would you suggest I look into if I'd like to contribute?

[2017-09-26 09:28] mariobehling commented on #88
@ajayns Please check out https://github.com/fossasia/susper.com

Please join the chat on for any questions. There are many community members who would be happy to help you onboarding. https://github.com/fossasia/susper.com

[2017-10-01 12:23] anshulwadhawan opened #90 "Sudden gaps between elements in the FOSSASIA PROJECTS"
I would like to work on this issue.
![issue2](https://user-images.githubusercontent.com/25061477/31054502-6da0133c-a6d1-11e7-82e7-56dd59e66b12.png)

[2017-10-01 14:49] sagar-kalra commented on #78
@AshishkrGoyal Still working? Its been a long time.

[2017-10-01 18:54] AshishkrGoyal commented on #78
@sagar-kalra if you want to work for it then sure go ahead..
actually i am busy with some other stuff now-a-days 👍

Thanks 👍

[2017-10-02 14:55] isuruAb commented on #90
hello @anshulwadhawan  this issue is reported already here #78

[2017-10-02 14:55] #90 closed

[2017-10-02 15:35] S2606 opened #93 "Add Badgeyay to project list"
![image](https://user-images.githubusercontent.com/18497513/31085660-6beb6034-a7b5-11e7-9e61-c8890d382afe.png)

**Would you like to work on this?**
Yes

[2017-10-02 15:53] #78 closed

[2017-10-02 16:37] #93 closed

[2017-10-20 15:29] PAPERPANKS opened #96 "Making readme file more readable"
- Add headers if needed
- Make list

[2017-10-20 15:31] #96 closed

[2017-10-20 16:23] PAPERPANKS opened #98 "find and fix typos on site"

[2017-11-06 04:28] madhurgupta10 commented on #98
Working on it!

[2017-11-27 19:10] 0x48piraj commented on #98
Still working @madhurgupta10 ?

[2017-11-27 19:14] madhurgupta10 commented on #98
@0x48piraj Hi, I thought this issue was resolved so I stopped working on it. Are there any typos still pending to be fixed?

[2017-11-27 19:18] 0x48piraj commented on #98
So, you should a ask @mariobehling to close this issue :wink:

[2017-11-27 19:30] madhurgupta10 commented on #98
@0x48piraj luckily found another typo 😉[https://github.com/fossasia/codeheat.org/pull/102](url)

[2017-11-27 19:51] 0x48piraj opened #103 "Adding an `ISSUE_TEMPLATE.md`"
#### After seeing the references, We should add up a `ISSUE_TEMPLATE.md` as added in other repositories.

**Are you interested in fixing this issue :**
Yes! :+1:

---

https://github.com/fossasia/codeheat.org/issues/98
https://github.com/fossasia/codeheat.org/pull/102

[2018-01-26 11:13] bhaveshAn opened #105 "Modify the image for query-server project"
**Current Behavior**
![query-one](https://user-images.githubusercontent.com/22936570/35437324-e4303f30-02b7-11e8-8e62-02db98879830.png)

**Expected Behavior**
![query-2](https://user-images.githubusercontent.com/22936570/35437330-e98102da-02b7-11e8-9aeb-60e3dcd66ac4.png)

[2018-01-26 21:04] mariobehling commented on #105
I dont see what is the problem.

[2018-01-26 21:04] #105 closed

[2018-01-26 21:22] bhaveshAn commented on #105
@mariobehling Earlier we had the image where the buttons were used in the UI for the respective search engine and now the `query-server` is having dropdown menu for the search engines and also the radio buttons for `General`, `Image` and `Video`.
Buttons changed to Dropdown.
**Before the change**: Buttons
**After the change**: Dropdown
You might realize when focusing only on the image.
Let me know

[2018-01-27 05:49] bhaveshAn commented on #105
Sure :+1:

[2018-01-29 12:16] abishekvashok commented on #98
I hope this is this fixed @madhurgupta10 genre closing this. We can have new issues if you find more!

[2018-01-29 12:16] #98 closed

[2018-01-29 12:16] abishekvashok commented on #103
@0x48piraj any updates?

[2018-01-29 12:39] mariobehling commented on #103
I would like to close this issue, as it is a small priority and probably not even necessary in a simple web repo.

[2018-01-29 12:39] #103 closed

[2018-01-29 12:39] #2 closed

[2018-01-29 13:46] 0x48piraj commented on #103
Sorry guys, I forgot.
Thanks for clearing though.

[2018-02-07 11:44] mariobehling opened #107 "Add Grand Prize Winners and Finalist Winners"
Please add two sections similar to https://2016.codeheat.org/#winners for Grand Prize Winners and Finalist Winners and include images and links.

[2018-02-07 11:56] vaibhavsingh97 commented on #107
Claiming 👍

[2018-02-09 15:28] anshumanv commented on #107
@vaibhavsingh97 Awaiting to see the winners and finalists on the website. :smile:

[2018-02-09 16:01] vaibhavsingh97 commented on #107
@anshumanv Will send the PR latest today 👍

[2018-02-10 16:44] mariobehling opened #110 "Add info section below header"
Other program sites of FOSSASIA have an info section. Please add a similar section below the header with the following info:
* 650+ students
650 registered in the Codeheat contest 2017/18 and learnt how to participate in the developer community with FOSSASIA.

* 2000+ merged pull requests
More than 2000 pull requests were merged during the contest. Participants also submitted scrum reports, wrote

[2018-02-11 14:42] mariobehling commented on #107
Please add additional details and find better pictures without other people in the background.

[2018-02-11 14:44] mariobehling commented on #107
* Also please move the section to the top (header, info section, winners, supported by...)
* Rename "Winners" to Grand Prize Winners
* Rename Finalists to Finalist Winners

[2018-02-12 14:28] ankurg22 commented on #110
Claiming.

[2018-02-12 23:18] #110 closed

[2018-09-10 07:11] sarnava1 commented on #107
@mariobehling can I work on this?

[2018-09-10 07:13] sarnava1 commented on #107
@akshatnitd can I help with this?

[2018-09-11 02:26] akshatnitd commented on #107
Yes, @sarnava1

[2018-09-11 05:07] mariobehling commented on #107
This was about 2018.codeheat.org and can be closed here.

[2018-09-11 05:07] #107 closed

[2018-09-15 20:08] susg opened #134 "Change year to 2019 in timeline"
In the timeline section, at two places the date is displayed with the year 2010. It should be changed to 2019. And also below it is written Feb 2018. I think that should also be 2019.

[2018-09-16 07:48] maheshjindal opened #136 "Problem in Grid Layout at "MENTORS" Section"
There is unwanted space between last two rows in the "MENTORS" section.

<img width="1416" alt="layout_issue" src="https://user-images.githubusercontent.com/30390269/45594098-76029c80-b9b2-11e8-8771-77ab44f910ab.png">
<img width="1390" alt="layout_issue2" src="https://user-images.githubusercontent.com/30390269/45594099-769b3300-b9b2-11e8-9574-6812a1c980cd.png">

[2018-09-16 11:26] anshulahuja98 commented on #136
can someone assign this issue to me?

[2018-09-16 16:41] susg commented on #134
hi, this mistake is seen in the table beside it as well.

[2018-09-16 18:01] maheshjindal commented on #136
Sir, I am already working on the same issue.

[2018-09-17 13:04] abishekvashok commented on #134
@susg can you solve that as well pls? I am reopening.

[2018-09-17 14:56] susg commented on #134
sure.

[2018-09-17 15:17] #134 closed

[2018-09-20 13:24] realslimshanky opened #145 "Incorrect start date of the competition"
#### Problem
The Codeheat homepage shows the incorrect date of the start of the competition as `September 10th, 2019`

#### Solution
Changing `2019` to `2018` in the start date.

I'm working on fixing this issue.

[2018-09-20 13:37] #145 closed

[2018-09-24 04:44] leoking-crey commented on #136
if this issue is still open,I am assigning it to myself

[2018-09-24 19:15] yohanym95 opened #148 "problem in mentors image layout"
![codeheat](https://user-images.githubusercontent.com/31344335/45973465-35fb8380-c05c-11e8-95dd-4eedf73a5952.JPG)
 i am like to work for this issue

[2018-09-29 12:55] #148 closed

[2018-10-01 16:30] yohanym95 opened #153 "susi.AI for magic minnor's link's margin is not complete"
SUSI.AI for magic minnor's link's margin is not complete.
![codeheat](https://user-images.githubusercontent.com/31344335/46301959-6e9fdd80-c5c5-11e8-8fbe-0fa893317ba6.JPG)

i working on it.

[2018-10-11 14:57] #153 closed

[2018-10-11 14:59] yohanym95 opened #157 "mentor's layout problem"
![codeheat](https://user-images.githubusercontent.com/31344335/46813426-49b12480-cd94-11e8-85fe-87b0c03ac896.JPG)

i working on it.

[2018-11-18 22:13] subhahu123 opened #159 "Social link list is not in centre"
social overlay link list which appears on hovering on image is not in centre

![peek 2018-11-19 03-41](https://user-images.githubusercontent.com/34541684/48678726-1b054580-ebad-11e8-84b2-5b0f8d001f8e.gif)

[2018-12-18 07:40] Sangatdas commented on #159
Can i be assigned this issue?

[2018-12-23 08:48] Masquerade0097 opened #161 "Add Mentor"
Add Priyanshu Khandelwal to mentor section.

[2019-02-09 09:17] fragm3 opened #163 "Add winner section, Add Shubham Gupta as winner #163"
- Add winner Section
- Add myself as grand prize winner

[2019-02-09 19:19] pranav1698 opened #165 "Adding finalists section and adding Pranav Kulshrestha as finalist"
Adding finalist section and adding pranav kulshrestha as one of the finalist

[2019-02-09 19:27] #161 closed

[2019-02-09 20:26] #163 closed

[2019-02-09 21:59] ShridharGoel opened #167 "Add Shridhar Goel as finalist winner"
Add myself (Shridhar Goel) as one of the finalist winners.

[2019-02-10 06:40] #165 closed

[2019-02-10 06:43] AakashMallik opened #169 "Adding myself ( Aakash Mallik ) to the list of winners"

[2019-02-10 09:30] mariobehling opened #171 "Provide better image and image in same height x width of Pranav"
The current image of Pranav is of low quality and not in the same width to height. Please fix it.

[2019-02-10 10:27] pranav1698 commented on #171
@mariobehling I will update the image

[2019-02-11 03:14] #171 closed

[2019-02-11 05:29] YogeshSharma0201 opened #173 "Added Yogesh Sharma as finalist winner"

[2019-02-11 22:01] #167 closed

[2019-02-12 05:32] AdityaSrivast opened #175 "Add Aditya Srivastava as a finalist winner"

[2019-02-12 22:38] #173 closed

[2019-02-13 04:28] #175 closed

[2019-02-14 02:22] samagragupta opened #177 "Add Samagra Gupta as a finalist winner"

[2019-02-18 16:50] creyente1897 opened #179 "Wrong url of badgeyay chat on gitter"
**I am submitting a bug**

**Description :**
Badgeyay chat link on codeheat page is redirecting to open-event-server chat link on gitter.

**Expected behaviour:**
Should redirect to badgeyay group chat on gitter.

**Steps to reproduce:**
1. Go to https://codeheat.org/
2. Scroll down to FOSSASIA projects
3. Click on the chat link of badgeyay project.
4. See the error

**Screenshots**

![peek 2019-0

[2019-02-18 17:20] #179 closed

[2019-02-25 16:51] HSR05 commented on #177
can i work on this? it's my first contribution!
Can you guide me a little!!
Thankyou @samagragupta

[2019-02-25 16:51] HSR05 commented on #169
I would like to work on this!! It will be my first contribution!
Can you guide me a little?
Thankyou. @AakashMallik

[2019-02-25 16:59] AakashMallik commented on #169
@HSR05 already resolved... I guessed i forgot to close it

[2019-02-25 17:00] #169 closed

[2019-02-26 02:03] samagragupta commented on #177
@HSR05 The PR has already merged.

[2019-02-26 02:03] #177 closed

[2019-02-26 06:47] mahamoutdogoy commented on #159
Is this issue still open? can I contribute?

[2019-04-02 05:56] fragm3 opened #186 "Fix number of participants and year of Codeheat"
Fix the number of participants and year of Codeheat

[2019-04-21 05:02] #186 closed

[2019-04-25 20:45] 15999shivam commented on #159
can i be assigned this issue?

[2019-04-30 16:26] subhahu123 commented on #159
yes , go ahead

[2019-09-02 18:57] shivaylamba opened #188 "Codeheat for 2019?"
I wanted to know will there be a re-edition for codeheat competition, like the one which was organized in 2018. Or is the competition being called by another name this time?

[2019-09-03 18:20] mariobehling commented on #188
Site was updated. Contest starts on Sep. 15.

[2019-09-03 18:20] #188 closed

[2019-09-03 18:20] mariobehling commented on #159
Dont think this is an issue. It works.

[2019-09-03 18:20] #159 closed

[2019-09-03 18:21] mariobehling commented on #136
Seems to be fine currently.

[2019-09-03 18:21] #136 closed

[2019-09-04 02:56] mrsaicharan1 opened #192 "Add Codeheat Mentor Info: Saicharan"

[2019-09-04 08:48] #192 closed

[2019-09-04 16:28] mrsaicharan1 opened #196 "Add Shreyansh Dwivedi: Codeheat Mentor"

[2019-09-04 16:29] #196 closed

[2019-09-05 07:04] anhanh11001 opened #197 "Add Le Tran Anh Duc: Codeheat Mentor"

[2019-09-05 07:47] #197 closed

[2019-09-05 08:28] uds5501 opened #200 "Add Uddeshya Singh: Codeheat Mentor"

[2019-09-05 20:48] anhanh11001 opened #202 "Update image size: Duc Le Tran Anh mentor"

[2019-09-06 07:38] #202 closed

[2019-09-06 11:10] #200 closed

[2019-09-06 19:38] shivaylamba opened #205 "Unequal size of image of Uddeshya Singh"
Size of the image of Mr. Uddeshya Singh is unequal. It is showing height as 296 px, while all of the rest pictures are 292.5 px for their height. Pull Request for this issue : #206

![image](https://user-images.githubusercontent.com/19529592/64455657-d92d9780-d10b-11e9-85dc-3057a584a79c.png)
![image](https://user-images.githubusercontent.com/19529592/64455771-1f82f680-d10c-11e9-90a0-bb95a8c6861e.p

[2019-09-06 20:16] shivaylamba commented on #205
#206

[2019-09-07 05:25] #205 closed

[2019-09-07 15:14] mariobehling opened #207 "Add website generator to projects"
Website generator is not listed yet.

[2019-09-07 20:07] Dharmesh-Poddar commented on #207
@mariobehling can I work on it..

[2019-09-08 03:53] liveHarshit commented on #207
Please go ahead.

[2019-09-08 06:21] vinaysomawat commented on #207
@liveHarshit could you explain this issue? what is the meaning of "Website generator is not listed yet."?

[2019-09-08 06:24] liveHarshit commented on #207
Sorry, I'm not familiar with web D. @uds5501 @shreyanshdwivedi Can you please explain?

[2019-09-08 08:59] uds5501 commented on #207
@liveHarshit @vinaysomawat
You have to make a project card for Open Event Website Generator Project : https://github.com/fossasia/open-event-wsgen

The project card inspirations can be taken from here
![image](https://user-images.githubusercontent.com/21087061/64485994-092c8600-d245-11e9-8ee7-d1974b33dc68.png)

[2019-09-10 22:34] code-monk08 opened #209 "Wrong dates in registration form for Codeheat 2019."
@mariobehling registration form still has wrong dates in STEP 4.
![image](https://user-images.githubusercontent.com/19390263/64655100-dbb02a00-d448-11e9-83a2-c72dbe37137c.png)

[2019-09-11 06:21] liveHarshit commented on #209
@code-monk08 Fixed.

[2019-09-11 06:21] #209 closed

[2019-09-15 08:42] liveHarshit opened #210 "Remove Codeheat 2019 from about section"
URL is not opening from about section: https://2019.codeheat.org/

[2019-09-15 08:45] liveHarshit commented on #210
@mariobehling Where is the repo gone: https://github.com/fossasia/2019.codeheat.org

[2019-09-15 14:12] abishekvashok commented on #210
It's codeheat.org

[2019-09-15 14:27] liveHarshit commented on #210
What? Please go to about section. Where is the repo for codeheat 2018/19 context??

[2019-09-15 14:31] liveHarshit commented on #210
Oh, It's changed to Codeheat 2018. Earlier it was 2019.codeheat.org. Cheak in about section on 2019.codeheat.org.

[2019-09-15 14:37] asha15 commented on #210
@liveHarshit Shall i work on this?

[2019-09-15 14:40] liveHarshit commented on #210
Go ahead.

[2019-09-15 15:34] asha15 commented on #210
@liveHarshit Can i know how to resolve this error?

![Screenshot (287)](https://user-images.githubusercontent.com/28682701/64923916-68b60300-d7fc-11e9-9e8a-ddb4693261d2.png)

[2019-09-15 15:36] liveHarshit commented on #210
What?
Please go through https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/

[2019-09-15 15:46] abishekvashok commented on #210
@asha15 make a pull request instead of trying to directly push to the upstream repo. I see that you haven't forked the repo either, so pls refer to the guide mentioned above.

[2019-09-15 16:27] asha15 commented on #210
@abishekvashok @liveHarshit Thank you for the explanation.
I have send a pull request.Kindly request you to review it

[2019-09-15 16:32] #210 closed

[2019-09-15 16:33] liveHarshit opened #212 "FOSSASIA.ORG is redirecting to https://fossasia.org.org in about section"

[2019-09-15 16:34] liveHarshit commented on #212
@abishekvashok Please transfer this issue to https://github.com/fossasia/2018.fossasia.org

[2019-09-16 11:24] abishekvashok commented on #212
Done https://github.com/fossasia/2018.fossasia.org/issues/644

[2019-09-16 11:24] #212 closed

[2019-11-22 19:39] srishtiBajpai commented on #207
Is this issue still open?

[2019-12-22 20:19] Dishebh opened #217 "Page Responsiveness Issue"
### Description:
There are some bugs in the participating projects section of the web page, like the projects cards do not align in a proper way as should be done by bootstrap grid system (at 1180 x 1329 resolution).

### Steps to reproduce:
1. Go to the (webpage)[https://codeheat.org]
2. Head to the Participating Projects section.
3. Change the resolution to 1180 x 1329 px.

### Screenshot of the

[2020-01-08 20:31] Chaitanyassr opened #219 "Many of the yellow links are overlapping with the text and need to be fixed."
![Screenshot (136)](https://user-images.githubusercontent.com/30374226/72013448-dee6e580-3283-11ea-9780-e9a7ca50a540.png)

[2020-01-12 09:38] abishekvashok commented on #219
Go on and fix em

[2020-01-20 16:28] Chaitanyassr commented on #219
oh! a pr is already there.

[2020-02-18 12:00] vibhuti019 commented on #219
Is the  issue fixed

[2020-03-24 13:47] janethavi opened #226 "Fix CSS in Finalist Winners section"
It would be much nice if we can add the CSS settings of the Jury section to the Finalist Winners section.

Something like this.
![Screenshot from 2020-03-24 19-16-13](https://user-images.githubusercontent.com/35697678/77432408-07eb3100-6e04-11ea-8673-9df6c5cba0f2.png)

[2020-05-06 23:18] Deeksha2501 commented on #226
I would like to work on this issue

[2020-05-06 23:19] Deeksha2501 commented on #219
I would like to fix the issue

[2020-05-06 23:31] Chaitanyassr commented on #219
Hi @Deeksha2501 , A PR is already there for this issue also and it is approved by 2 members. it would be suggested to hold of for this issue.

[2020-05-07 06:10] prajaktatamte commented on #219
I would like to fix the issue.

[2020-05-07 06:12] prajaktatamte commented on #226
@janethavi I would like to work on this issue.

[2020-05-07 08:34] The-Keshav-Agarwal commented on #219
is this issue is still open? I would like to work on this issue.

[2020-05-07 09:29] Deeksha2501 commented on #219
ok :)

[2020-05-07 15:15] rajamanojkumar commented on #217
can i work on this issue

[2020-05-07 15:18] Dishebh commented on #217
There's already a PR open for it. Pls find some other issue until the PR is resolved.

[2020-05-09 14:41] prathmeshkhandelwal1 commented on #226
i want to fix this issue

[2020-05-10 07:24] MDivakarPal commented on #226
@janethavi  Can i Work on this issue

[2020-05-10 14:29] #226 closed

[2020-05-20 16:43] akhil27styles commented on #219
give me a chance I will try to fix this issue

[2020-05-22 04:26] Anamika810 commented on #219
I will be obliged if I'll be given a chance to fix this issue.

[2020-05-30 10:58] Dhruvibansal commented on #219
I would like to fix this issue .Is it still open ?

[2020-05-30 11:01] Dhruvibansal commented on #207
I want to fix this issue, is it still open ?

[2020-06-04 17:48] Siddharth1698 opened #235 "Grand Prize winners not properly alligned"
![Screenshot from 2020-06-04 23-17-06](https://user-images.githubusercontent.com/31384057/83793016-8a705680-a6b9-11ea-80a2-4f0ef98c23c7.png)
Here the two images seems to be together while first image bit far. It doesn't look good.

[2020-06-04 17:54] Siddharth1698 commented on #235
I will fix it like other images are alligned

[2020-06-09 17:43] viplav153 commented on #235
hey i want to fix this issue please  assign me for this

[2020-06-09 17:57] Siddharth1698 commented on #235
@viplav153  i already fixed it and send a PR

[2020-06-15 05:03] rcoder23 commented on #219
i can fix this issue

[2020-07-02 17:30] Raunaksingh100 opened #238 "Image responsiveness issue in mobile view"
Image responsiveness issue in mobile view
![issue](https://user-images.githubusercontent.com/65535360/86391693-d4982800-bcb7-11ea-9d9e-19ee021498be.jpg)

[2020-07-03 05:43] ajaxpraps commented on #238
hey ,can i work on this issue.

[2020-07-03 06:11] Raunaksingh100 commented on #238
go ahead

[2020-07-08 19:37] anilmaurya61 commented on #238
i wanna work on this issue.

[2020-07-08 20:18] Sapna2001 opened #239 "Update Readme"
Grammatical errors like,
1." friends and partners." instead of " friends, and partners."
2." necessitate a closure " instead of "necessitate the closure"

[2020-07-08 20:19] Sapna2001 commented on #239
can I work on this?

[2020-07-09 11:21] Raunaksingh100 commented on #238
@anilmaurya61 no need of assigning just fixed the issue and generate the pr .........

[2020-07-09 15:07] Yash5044 opened #240 "Simple CSS issue"
Recently in the web view of the website, I noticed that the in the grand prize winners section, the details weren't placed correctly.
![Screenshot_20200709_203430](https://user-images.githubusercontent.com/46025582/87056931-d00eca80-c1f5-11ea-9028-8f36f08a8042.png)

[2020-07-09 15:08] Yash5044 commented on #240
If there's no problem I'd like to work on this

[2020-07-09 15:10] #240 closed

[2020-07-09 15:10] Yash5044 commented on #240
The issue was duplicate, it had already been worked upon

[2020-07-10 13:18] UniqueWebpageDesign commented on #235
working on it

[2020-07-10 16:00] anilmaurya61 opened #244 "Navbar overlaps content at desktop site in mobile view"
Screenshot for better understanding.

![WhatsApp Image 2020-07-10 at 3 45 33 AM](https://user-images.githubusercontent.com/56387037/87174102-aa1f0f80-c261-11ea-9b6e-df29200e356b.jpeg)

[2020-07-11 07:07] Samiksha99 commented on #244
i think it is already resolved

[2020-07-11 11:16] anilmaurya61 commented on #244
No,not yet.

[2020-07-12 14:39] Samiksha99 commented on #244
![Screenshot from 2020-07-12 20-02-23](https://user-images.githubusercontent.com/55537242/87249246-9222d800-c47b-11ea-8397-3f8d1bca9d94.png)
see in mobile view its fine

[2020-07-12 14:43] Samiksha99 commented on #244
![WhatsApp Image 2020-07-12 at 8 13 15 PM](https://user-images.githubusercontent.com/55537242/87249339-2ee57580-c47c-11ea-9365-a1f44b37b9f4.jpeg)
i saw this in mobile view its fine

[2020-07-13 06:24] Manish-Kumarr opened #245 "Icons are not align in center while hovering"
Icons are not aligned center while hovering on the image
Screen size between 992px to 1200px

![Annotation 2020-07-13 114824](https://user-images.githubusercontent.com/53834930/87277035-1ec2aa00-c4ff-11ea-9f21-df667f48bcf2.png)

@mariobehling I would like to work on this issue

[2020-07-13 06:28] Manish-Kumarr commented on #244
@Samiksha99 It is overlapping b/w screen size 970px - 991px

[2020-07-13 11:56] Samiksha99 commented on #244
okay yes

[2020-07-14 10:12] Manish-Kumarr commented on #244
Can i work on this issue ?

[2020-07-14 16:47] anilmaurya61 commented on #244
Go ahead !!

[2020-07-16 20:42] prodiptahalder commented on #245
Is anyone working on this issue! I would like to work on this.

[2020-07-17 03:29] Manish-Kumarr commented on #245
yes, I am

[2020-07-28 12:15] fluorspar20 commented on #238
Is this issue still open? I would like to work on it.

[2020-08-22 17:16] neeraj-2 opened #248 "A Simple Grammatical Error in Readme file."
**Initial Readme File with error  as shown :**
![Readme](https://user-images.githubusercontent.com/56186425/90961823-2e9fb780-e4c9-11ea-9401-3ed879100673.png)
I just found some grammatical mistakes while reading Readme file .I have attached the screenshot where i got those errors.

[2020-08-27 14:19] neeraj-2 commented on #235
#249 (comment).
I updated index.html file and now it looks like as shown:
![allignment_after_change2](https://user-images.githubusercontent.com/56186425/91454170-45b22100-e89e-11ea-86a2-97db0f9ecc1e.PNG)

I have attached a PR here .Please review it

[2020-08-28 07:52] neeraj-2 opened #250 "Collapse property of menu bar"
Actual Behaviour:

In Mobile view,menu does not collapse by itself.

Expected Behaviour:

After  choosing some option,menu should be collapsed by itself.

Would you like to work on the issue?
Open for all!

![menu](https://user-images.githubusercontent.com/56186425/91535917-873fdc00-e931-11ea-8122-8a6c18366480.PNG)

[2020-08-29 08:09] saideepesh000 commented on #250
@neeraj-2, can I work on this issue

[2020-08-29 16:47] neeraj-2 commented on #250
Nice Work @saideepesh000

[2020-08-29 18:05] saideepesh000 commented on #250
@neeraj-2, thanks

[2020-08-29 18:07] saideepesh000 commented on #245
@Manish-Kumarr, are you still working on it?

[2020-08-29 18:11] Manish-Kumarr commented on #245
yes, I am but till now no one's assigning me that's why i am waiting for PR.

[2020-09-02 13:09] HeroicHitesh commented on #207
@mariobehling @liveHarshit I see this issue is not fixed yet, also #208 is closed due to inactivity. If this issue is up-for-grab, I will like to work on it.

[2020-09-02 13:14] HeroicHitesh commented on #217
@Dishebh I guess you can close this issue now as your PR is merged, which I believe resolves this issue.

[2020-09-02 15:09] #217 closed

[2020-09-06 05:07] sagar-barapatre opened #252 "Add dark Theme"
Save our eyes. And batteries. Do not ignore this property of useragent https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-09-07 08:40] Raunaksingh100 commented on #238
@fluorspar20  go ahead

[2020-09-07 08:45] Raunaksingh100 opened #253 "Back to top button need alignment"
### Description-
the "Back-to-top" button need to be right not to be center see in the screenshot given below for the better understanding..

### screenshot-
![now](https://user-images.githubusercontent.com/65535360/92367840-93d3e980-f114-11ea-8b98-b1d4405cceeb.PNG)

[2020-09-08 10:13] khushboojoshi3 commented on #239
**Initially, it was-**
If you don't know what does squashing of commits is read from here.
**After Changes-**
If you don't know what does squashing of commits means, then read it from [here](https://medium.com/@slamflipstrom/a-beginners-guide-to-squashing-commits-with-git-rebase-8185cf6e62ec).

_**Can I work on this issue?**_

[2020-09-10 10:09] ooyeraju commented on #253
can I take this ?

[2020-09-10 10:31] Raunaksingh100 commented on #253
@ooyeraju  go ahead!!

[2020-09-15 16:05] k-guy-dev commented on #252
@sagar-barapatre hey! I would like to take this one. I've attached a screenshot of my take on this issue.
![Screenshot_2020-09-15 Code Heat Coding Contest of FOSSASIA](https://user-images.githubusercontent.com/56889834/93235564-5f5ad000-f79b-11ea-9abf-8cb9955c228b.jpg)

[2020-09-15 16:28] sagar-barapatre commented on #252
Great buddy ! Go ahead and make a PR

[2020-09-15 20:00] deepti23-web opened #257 "Grand prize winners not properly aligned."
Grand prize winners not properly aligned in desktop view.
![Capture](https://user-images.githubusercontent.com/64003317/93258512-0a7b8180-f7bc-11ea-9bd7-5dc44cf693f5.PNG)

[2020-09-16 08:33] BhuwanChandra commented on #257
@deepti23-web are you working on this issue? I would like to work on this issue.

[2020-09-16 08:40] deepti23-web commented on #257
No. Go ahead @BhuwanChandra .

[2020-09-17 01:32] Srijan205 commented on #253
Can i take this??

[2020-09-17 03:10] Raunaksingh100 commented on #253
Go ahead

[2020-09-17 04:05] ooyeraju commented on #253
I'm working on this 😅.

Thanks and Regards
Rajnish Kumar
Second Year Undergraduate Student
Department of Humanities and Social Sciences
Indian Institute of Technology, Kharagpur
West Bengal, India

On Thu, Sep 17, 2020, 8:40 AM raunak singh <notifications@github.com> wrote:

[2020-09-17 04:07] ooyeraju commented on #253
Can you please give me 2 days. If not you someone else can go for it.

Thanks and Regards

Rajnish Kumar
Second Year Undergraduate Student
Department of Humanities and Social Sciences
Indian Institute of Technology, Kharagpur
West Bengal, India

On Thu, Sep 17, 2020, 9:35 AM Rajnish Kumar <rajnishkush2@gmail.com> wrote:

[2020-09-17 07:37] suyash-patil opened #259 "Mentor section is not responsive"
The "Mentors" section of the web page is not responsive on 100% zoom.

Here is the snapshot:

![codeheat](https://user-images.githubusercontent.com/66873825/93435177-abfef200-f8e6-11ea-9803-11b32a43862d.jpg)

[2020-09-20 06:56] max-keviv opened #261 "Mentors Section of the page layout is not properly displaying"
Reduce the screen size to see the effect

NOW:
![Screenshot (51)](https://user-images.githubusercontent.com/59287619/93705571-16f53680-fb3c-11ea-8366-3756b7d00785.png)
unexpected blank between cards
EXPECTED:
![Screenshot (53)](https://user-images.githubusercontent.com/59287619/93705573-1bb9ea80-fb3c-11ea-8f1b-2880f3d13428.png)

actual behaviour

[2020-09-23 04:02] daretobedifferent18 commented on #261
I would like to work on this issue.

[2020-09-23 04:13] max-keviv commented on #261
Go on

On Wed 23 Sep, 2020, 9:32 AM DIVYAM TAYAL, <notifications@github.com> wrote:

[2020-09-24 04:02] Ritwik880 opened #264 "Grand Prize Winners images"
Giving the spaces between two of the images. before 965*640 pixel images are displaying good but as soon as it crosses 980*670 pixel two of the images are getting closer to each other.

[2020-09-25 07:38] daretobedifferent18 commented on #264
I would like to work on this issue.

[2020-09-25 08:14] daretobedifferent18 commented on #261
I have fixed it PR #266 . Please have a review and if it is ok merge it.

[2020-09-25 13:45] daretobedifferent18 opened #267 "Hover state of Mentor Section is not centered aligned"
On each mentor in Mentor Section while hovering, it is not centered horizontally between screen width (992px-1200px).

width>=1200px (correct)
![Screenshot 2020-09-25 190436](https://user-images.githubusercontent.com/71120226/94273717-66839a00-ff62-11ea-9a09-c0328e99b39b.jpg)

width>=992px and width<1200px(incorrect)
![Screenshot 2020-09-25 185532](https://user-images.githubusercontent.com/7112022

[2020-09-25 14:03] daretobedifferent18 commented on #267
fixed. PR #268

[2020-09-26 03:15] chait04 opened #269 "text is not aligned vertically in tablet view"
![Screenshot (13)_LI](https://user-images.githubusercontent.com/59140343/94328955-8784d300-ffd4-11ea-93b8-38df55672e1b.jpg)

[2020-09-26 03:15] chait04 commented on #269
I would to work on this issue

[2020-09-28 05:00] shivalikadevi commented on #269
I will like to work on this issue .As I am new to this repo please guide me

[2020-09-28 05:01] shivalikadevi commented on #264
I want to work on this issue .

[2020-09-28 05:08] shivalikadevi commented on #257
I will like to work on this issue.

[2020-09-28 12:34] shashwattpandeyy commented on #269
I would like to work on this issue..

[2020-09-28 14:38] #250 closed

[2020-09-28 14:40] #252 closed

[2020-09-28 14:40] #257 closed

[2020-09-28 14:40] #259 closed

[2020-09-28 14:40] #261 closed

[2020-09-28 14:40] #264 closed

[2020-09-28 14:40] #267 closed

[2020-09-28 14:41] mariobehling commented on #239
Focus is the website itself. Readme is secondary and out of scope.

[2020-09-28 14:41] #239 closed

[2020-09-28 14:41] mariobehling commented on #248
Focus is the website itself. Readme is secondary and out of scope.

[2020-09-28 14:41] #248 closed

[2020-09-28 14:41] #235 closed

[2020-09-28 15:07] shivalikadevi commented on #238
I want to work on this issue.

[2020-09-28 15:09] shivalikadevi commented on #245
Hey is this issue still open .I want to work on this issue.

[2020-09-28 15:09] shivalikadevi commented on #244
Can i work on this  issue?

[2020-09-28 15:25] naman360 commented on #207
Can I work on this issue?

[2020-09-28 15:27] naman360 commented on #219
Can I work on this issue?

[2020-09-28 15:27] naman360 commented on #253
Can I work on this issue?

[2020-09-28 15:27] naman360 commented on #245
Can I work on this issue?

[2020-09-28 15:29] naman360 commented on #269
Can I work on this issue?

[2020-09-28 17:48] anilmaurya61 commented on #238
![codeheat](https://user-images.githubusercontent.com/56387037/94467525-b8395800-01e0-11eb-8171-a93c5accd6a4.jpg)

https://github.com/fossasia/codeheat.org/pull/270

[2020-09-28 17:57] yash0501 commented on #269
I would like to work on this issue.

[2020-09-28 17:59] yash0501 commented on #253
Can I work on this issue?

[2020-09-28 18:07] khushishikhu commented on #253
may i work on this issue

[2020-09-28 18:14] Devansh3712 commented on #245
@mariobehling may i work on this issue?

[2020-09-28 18:37] Raunaksingh100 commented on #253
No ,There is already pr for this

[2020-09-29 00:40] chait04 commented on #269
Go ahead

[2020-09-29 08:40] himanshujaidka opened #271 "links are open in the same page"
all links are open in the same page, pls assign this to me

[2020-09-29 09:40] 26Vinayak commented on #269
may i work on this issue?

[2020-09-29 09:45] 26Vinayak commented on #245
i would like to work on this issue.
any assign me?

[2020-09-29 11:18] mrunalvilas commented on #271
I will be obliged if I'll be given a chance to fix this issue.

[2020-09-29 14:45] swapnil-code commented on #269
i will work on this issue

[2020-09-29 14:54] Raunaksingh100 commented on #271
@himanshujaidka can you make the proper issue with description so, that  the user and the mentors can understand ...

[2020-09-29 15:01] himanshujaidka commented on #271
it is clear to all the mentors or maybe to contributors, I think because they are familiar with it

[2020-09-29 15:03] Raunaksingh100 commented on #271
But new contributers are not familiar with this

[2020-09-30 04:01] naman360 commented on #271
Can I work on it?

[2020-09-30 05:53] MananKGarg opened #273 "Spelling mistake in PSLab Android tile in "Participating Projects" section"
The paragraph under the PSLab Android title ends with, "......... Pocket Science Lab we can do lots of experiments and even control robots with up to four servors."

The last word should be "servos". (servos used in robots)

![WhatsApp Image 2020-09-30 at 11 21 19](https://user-images.githubusercontent.com/62146744/94648026-4dd30580-030f-11eb-8e59-33ea4d983f00.jpeg)

[2020-09-30 05:55] MananKGarg commented on #273
Please assign this issue to me. I have already figured out the fix.

[2020-09-30 14:36] Roshanpaswan commented on #269
I will work on this issue this is my first attempt

[2020-09-30 14:58] Arnab9674 commented on #269
i want to work on it

[2020-09-30 22:39] Himanshunitrr commented on #269
I will to work on this issue. What is the path where you captured this screenschot sir?

[2020-10-01 02:56] chait04 commented on #269
issue solved

[2020-10-01 02:56] #269 closed

[2020-10-01 04:20] mayank0811 commented on #219
i want to work on this issue.

[2020-10-01 04:22] mayank0811 commented on #253
can i work on this issue?

[2020-10-01 04:36] 26Vinayak commented on #244
I would like to work on this issue

[2020-10-01 05:19] naman360 commented on #273
Can I work on this issue?

[2020-10-01 05:28] himanshujaidka commented on #271
please mentors have a look in it

[2020-10-01 06:12] chait04 opened #277 "Empty div in projects"
empty divs(marked in a blue line) to add space between links  and info-box.

![Screenshot (42)_LI](https://user-images.githubusercontent.com/59140343/94774171-ee422c00-03da-11eb-969c-7c3659329151.jpg)

there are empty div tags to fill the gap between links and info

![Screenshot (44)_LI](https://user-images.githubusercontent.com/59140343/94773988-8a1f6800-03da-11eb-8761-f3f0e535a054.jpg)

[2020-10-01 06:30] vj-codes commented on #273
I would like to work on this

[2020-10-01 06:41] #277 closed

[2020-10-01 07:18] mariobehling commented on #238
This is working as expected. No changes are needed.

[2020-10-01 07:18] #238 closed

[2020-10-01 07:23] #273 closed

[2020-10-01 07:23] mariobehling commented on #271
This is as it should be.

[2020-10-01 07:23] #271 closed

[2020-10-02 08:50] Raunaksingh100 commented on #219
@mariobehling and @Chaitanyassr
![Uploading 2.PNG…]()
 this bug is already fixed you can close this issue

[2020-10-09 06:14] Raunaksingh100 commented on #244
now i saying thrice as eariler i already fixed this bug plz find some others issue

[2020-10-09 10:27] #244 closed

[2020-10-10 15:51] Raunaksingh100 commented on #245
i already fixed this issue now plz find some other issues thanks

[2020-10-11 01:06] mariobehling commented on #245
This section does not exist in current page. The website seems good enough to achieve its goal. There does not seem to be major issues. At FOSSASIA we try to have working websites, but our main energy we try to put into projects. Thanks.

[2020-10-11 01:06] #245 closed

[2020-10-19 12:25] #253 closed

[2020-10-19 12:29] #207 closed

[2020-11-07 14:52] anjali1102 commented on #219
I want to contribute to codeheat. But there are almost no issues overhere...sad😔

[2020-11-08 05:18] sayak2k1maruti commented on #219
Please give me a chance to fix this issue

[2020-11-08 07:35] Raunaksingh100 commented on #219
### this is issue already fixed see in the official website aur see in the screenshot below-
![1](https://user-images.githubusercontent.com/65535360/98459676-0750b080-21c3-11eb-8d96-078aa87496bb.PNG)

[2020-11-13 14:20] Afzal-Ind commented on #219
@mariobehling Hi, You can close this issue since it seems this issue fixed. Thanks. [Click here](https://codeheat.org/)

[2020-11-15 14:47] cggvuhh opened #290 "Social link icons is not center while hover"
### descption-
Social link icons is not center while hover see in the screenshot for the better understanding.

### screenshot-
![before 1](https://user-images.githubusercontent.com/68186540/99187942-8a53a700-277f-11eb-99b4-2874550c2236.PNG)

[2020-11-15 14:47] Raunaksingh100 commented on #290
i am working on this issue

[2020-11-15 14:47] cggvuhh commented on #290
go ahead !!

[2020-11-15 15:24] Raunaksingh100 commented on #290
@mariobehling can you add the codeheat label for this

[2020-11-17 03:39] divshekhar commented on #290
Is this issue still open?

[2020-11-17 04:42] Raunaksingh100 commented on #290
I already fixed this issue and create pr for this plz find some other issues

[2020-12-10 10:30] Kerveyfelix commented on #219
Can I fix this issue?

[2020-12-10 18:33] adnanraghib1308 opened #293 "No proper alignment in participating project."
![Screenshot 2020-12-10 at 11 58 12 PM](https://user-images.githubusercontent.com/56679676/101814452-32bd1700-3b44-11eb-9333-fa5db70509f1.jpg)

[2020-12-10 18:39] adnanraghib1308 commented on #293
I am working on this issue

[2020-12-11 08:32] Raunaksingh100 commented on #293
Plz work on projects of FOSSAISA not on the simple website

We don't focus on this simple website thanks.

[2020-12-11 11:55] mariobehling opened #295 "Create a section for winners of Codeheat Period 1"
Please create a section for winners of Codeheat 1 above the section "Jury" as follows:
* Add two areas with a) heading Grand Winners and b) Finalist winners
* Add three winners with headshot color images below each heading
* Add profile links for scroll over and names below winners
* Ensure profile links are centered correctly

[2020-12-11 14:59] daretobedifferent18 commented on #295
working on it

[2020-12-15 09:29] #295 closed

[2020-12-16 12:45] Raunaksingh100 opened #303 "Add space between Finalist winner"
### description-
Add space between in Finalist winner see in the screenshot for the better understanding

### screenshot
![12](https://user-images.githubusercontent.com/65535360/102350274-ab9bf300-3fca-11eb-9e82-a38eaa5660a2.PNG)

[2020-12-17 06:21] MohitPatni0731 commented on #303
Can I work on this issue.

[2020-12-17 06:21] MohitPatni0731 commented on #293
Can I work on this issue.

[2020-12-17 07:18] Raunaksingh100 commented on #303
Yes go ahead and plz only margin of 10 px in my photo thanks

[2020-12-17 07:45] saumyasrivastava08 commented on #303
can i work on this?

[2020-12-17 11:11] Raunaksingh100 commented on #303
No it lead to duplicate work

[2020-12-17 11:13] Raunaksingh100 commented on #303
@saumyasrivastava08   no need assign fixed this bug and create PR for this

[2020-12-17 11:16] MohitPatni0731 commented on #303
I am already working on it

[2020-12-17 11:17] Raunaksingh100 commented on #303
@MohitPatni0731 plz create pr for this anyone can fixed the bug and create pr for thid

[2020-12-17 11:19] MohitPatni0731 commented on #303
Sure will do that

[2020-12-17 11:50] cggvuhh commented on #303
@MohitPatni0731 how much time you take to fixed this simple issue??????

or I will fixed this issue

[2020-12-18 07:38] saumyasrivastava08 commented on #303
@Raunaksingh100  can i work on any other issue

[2020-12-18 07:43] Raunaksingh100 commented on #303
No there is already pr for it .

[2020-12-18 16:11] arnoob16 opened #307 "tweets-feed div is not populated"
## Issues
- The section above footer is having a tweets-feed div which I guess is to display the recent tweets from fossasia/codeheat twitter account.
- The div doesn't have any tweets to display and the twitter logo/text inside the div is of too pale color to be visible over the vibrant background.

## Screenshots
![image](https://user-images.githubusercontent.com/49037005/102635662-a92bcb80-4179

[2020-12-18 16:12] arnoob16 commented on #307
I think I can work on this, can anyone assign me this issue?

[2020-12-18 18:32] SaranshMaheshwari commented on #219
Can I work on this issue ?

[2020-12-21 13:56] #303 closed

[2020-12-22 16:38] Naman-1234 opened #309 "No-Space-between-Mentor-Images"
![Screenshot (714)_LI](https://user-images.githubusercontent.com/63748249/102911263-cd511a80-44a1-11eb-805e-a811a709fc36.jpg)

As you can see in the photo, there is no gap between Mentor Images,  They appears to be overlapping, A little margin between them will make them look nice.

Can i work on this issue

[2020-12-23 06:54] rithgan commented on #307
I can work on this if it assigned to anyone yet

[2020-12-24 09:28] sakshamgurbhele opened #310 "errors in readme.md"
**First:**
![Screenshot 2020-12-24 145531](https://user-images.githubusercontent.com/64558515/103078607-3cd91e00-45f8-11eb-8e3e-a97419efdd3c.png)

**Second:**
![Screenshot 2020-12-24 145616](https://user-images.githubusercontent.com/64558515/103078611-3ea2e180-45f8-11eb-8803-944fc1019cf4.png)

[2020-12-24 09:28] sakshamgurbhele commented on #310
I can fix this

[2020-12-25 05:45] Sechan-tkd commented on #310
Can I work on this Project?

[2020-12-28 14:21] robin025 commented on #310
working on this!

[2021-01-02 11:47] Samridhi-98 commented on #310
I would like to work on this issue, Please assign me.

[2021-01-02 11:48] Samridhi-98 commented on #309
I would like to work on this issue please assign me.

[2021-01-02 16:32] Raunaksingh100 commented on #309
@Naman-1234 this is not an issue this is designed
You can closed this issued

[2021-01-02 17:41] Naman-1234 commented on #309
Ok @Raunaksingh100

[2021-01-02 17:41] #309 closed

[2021-01-03 07:58] Sloth-Panda commented on #219
Can I work on this?

[2021-01-03 12:51] Raunaksingh100 commented on #219
See this

[2021-01-10 06:39] aditikp0907 commented on #310
can I work on this issue

[2021-01-20 06:26] Raunaksingh100 opened #312 "Copyright need to update in the footer"
![1](https://user-images.githubusercontent.com/65535360/105135772-94df4380-5b16-11eb-87bf-28985ec25026.PNG)

[2021-01-29 12:09] Surajpok commented on #312
I'm new to opensource. Can i please work on this

[2021-01-30 10:50] satcasm commented on #312
On it.

[2021-01-30 11:04] satcasm commented on #312
#315 Please review my PR.

[2021-01-30 11:16] satcasm opened #316 "Error in README.md"
It seems like there should be a link present at "here" and also a "fullstop(.)" at the end of the paragraph.

Relevant Screenshot:
![image](https://user-images.githubusercontent.com/56315878/106354822-6897a400-631a-11eb-8481-33a0d88ffae7.png)

[2021-01-30 12:58] shrutikolk commented on #316
Can I fix this issue?

[2021-01-30 19:06] TarangGarlapally opened #319 "Jury Mentor social links redirecting in same tab"
Most of the social links in **Jury** and **Mentor** sections are opening in the sam tab, while the links in **Winners** section are redirecting to a new tab.

[2021-01-30 19:07] TarangGarlapally commented on #319
I am working on this issue

[2021-01-30 19:14] TarangGarlapally commented on #319
Done at #320

[2021-02-04 12:03] satcasm opened #321 "Responsiveness of the site"
In the nav the "codeheat" link and "about" link are getting overlapped, which doesn't looks good.

![image](https://user-images.githubusercontent.com/56315878/106890212-015d6380-670f-11eb-8720-36be00581560.png)

[2021-02-04 15:47] OnkarNora commented on #316
It looks like [this](https://gist.github.com/patik/b8a9dc5cd356f9f6f980) link should be added.

[2021-02-07 18:48] MohitPatni0731 commented on #310
Can I work on this issue

[2021-02-08 03:13] Raunaksingh100 commented on #310
There is already PULL REQUEST FOR this issue.

[2021-02-09 04:17] abhiprojectz commented on #321
i am working on the issue.

[2021-02-21 10:56] Ngugisenior commented on #312
on it

[2021-02-26 05:58] demon-99 commented on #321
i  would like to work on this issue

[2021-02-28 19:42] faisaljamil25 opened #329 "Extra white space on right side of the screen on mobile devices"
There is extra white space on the right side of the screen on mobile devices which doesn't look good.

![Screenshot 2021-03-01 005246](https://user-images.githubusercontent.com/69186619/109431036-7d0ab180-7a2a-11eb-9dc2-682aff8e48a9.png)

[2021-02-28 19:43] faisaljamil25 commented on #329
I am working on this issue

[2021-03-01 18:02] demon-99 commented on #321
@media screen (min-width: 968px) and (max-width: 992px) {
  .container{
    width:100%;
  }
}

sir can i fix this overlapping issue in this way

[2021-03-21 04:53] afzal442 opened #334 "Open-Event Web project's image needs to be changed on the webpage"
The existing image of the Open-eventyay project under the participating project is outdated. Plz, change that.

Plz look at image for a better understanding
![s1](https://user-images.githubusercontent.com/11625672/111894215-ed579200-8a2e-11eb-860f-1d3f49c3c506.JPG)

Find the required image on the eventyay.com webpage itself and replace the existing one with that image.

[2021-03-31 00:02] sg7801 opened #335 "Enhancement of Readme"
Readme can be updated and enhanced for better clarity with bullet points and highlights.
fixes #335

[2021-03-31 06:22] #335 closed

[2021-04-01 11:51] Cipher-08 commented on #219
Is it still a issue??

[2021-04-03 13:32] adilshehzad786 commented on #334
Please Assign me the following Issue.
I am working on this Issue.
Should I capture an updated Image from here: https://eventyay.com/

[2021-04-03 14:10] afzal442 commented on #334
Thanks @adilshehzad786. `Should I capture an updated Image from here: https://eventyay.com/` Yep, u can. U don't need to be assigned. U can make a PR for this. Let me know if u need any help.

[2021-04-03 15:18] adilshehzad786 commented on #334
I Updated the Image to the latest one
Preview is available here: https://github.com/fossasia/codeheat.org/pull/337

[2021-06-21 18:00] khanjasir90 opened #339 "Twiiter link codeheat_ not working and twitter icon with text is not also properly aligned and visibility is also less!!!"
Twitter link @codeheat_ is not working and the twitter icon with the text that is highlighted below in given image is also not properly aligned and visibility is also less
![Capture12](https://user-images.githubusercontent.com/53305380/122806963-9e98ed00-d2e8-11eb-9d96-334a26ddd9e8.JPG)

[2021-06-21 18:02] khanjasir90 commented on #339
@mariobehling  @abishekvashok  can i work on this!

[2021-06-21 18:09] khanjasir90 opened #340 "Grammatical Mistake in Readme.md file!!!"
![Capture23](https://user-images.githubusercontent.com/53305380/122808129-10be0180-d2ea-11eb-9f6b-9508d2a15df2.JPG)

It should actually be "Heat of Code is a Coding Contest run by FOSSASIA, friends and partners."
OR
It should actually be "Codeheat is a Coding Contest run by FOSSASIA, friends and partners."

[2021-06-21 18:11] khanjasir90 commented on #340
@mariobehling @abishekvashok  can i work on this?

[2021-06-22 15:28] Raunaksingh100 commented on #340
@khanjasir90 this is not a bug.

[2021-06-22 15:30] Raunaksingh100 commented on #339
@khanjasir90 plz work on issue of Fossasia Projects not in Simple website

Here the MOst active project link you can work on there issue..
https://github.com/fossasia/open-event-frontend

[2021-06-22 15:46] #340 closed

[2021-06-29 13:06] #316 closed

[2021-06-29 14:00] afzal442 commented on #334
Closed for #337

[2021-06-29 14:00] #334 closed

[2021-11-21 07:20] ayushporwal1234 commented on #219
i can solve this !! CAN  YOU GIVE ME A CHANCE ?